
ul.nav
    li.nav-item
        a.nav-link(href="/home") Post-Feed
    li.nav-item
        a.nav-link(href=`/`) Profile (!)
    li.nav-item
        form(action="/logout", method="post")
            button.nav-link.btn.btn-primary Log Out


    