extends layout

block content

    h1 Thanks for Signing Up!
    .container
        .row
            .col
            .col-lg-4.col-md-6
                h3  Log In with your new credentials:
                form(action="/log-in", method="post")
                    input(type="text" name="username" required)
                    input(type="password" name="password" required)
                    button.btn.btn-primary  Log In
                a(href="/sign-up") Create another account.
            .col